  *{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	font-size:62.5%;
}



.hero{
	height: 100vh;
	width: 100%;
	background-image: url("image/background.png");
 
	
	background-size: cover;
	background-position: center;
}

/* #navbar{
	padding: 0 0 4.5rem;
  } */


  /* .navbar-brand{
	font-family:"ubuntu";
	font-size: 2.5rem;
	font-weight:bold;
  } */





 nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 4.5rem;
	padding-left: 8%;
	padding-right: 8%;
} 


#navbar {
	overflow: hidden;
	background-color: #413e3e;
	 height:80px;
	 padding-top:10px;
	 z-index: 99;
	 /* padding: 0 0 4.5rem; */
  } 
  span{
	color: #f9004d;
}
 nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 2.5rem  2.5rem
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	font-size:20px;
	padding: 10px 25px;
	
} 
 nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}




/* toggler */
.menu-toggler {
	display: none; /* Initially hidden on larger screens */
}

/* Style the bars in the toggler icon */
.menu-toggler-icon {
	width: 30px;
	height: 3px;
	background-color: #333;
	margin: 6px 0;
}





  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }
  



 .logo{
	color: #f9004d;
	font-size: 4rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
	font-weight:bold;
} 

/* .navbar-brand{
	font-family:"ubuntu";
	font-size: 2.5rem;
	font-weight:bold;
  }
  .nav-item{
	padding:0 18px;
  }
  .nav-link{
	font-size:1.2rem;
	color:#f9004d;
  }
  
  .download-button{
	margin:5% 3% 5% 0;
  } */

.Ritu{ 
	padding-left:1rem;
}
.button{  background-color:#f9004d;
	color: white;
	text-decoration: none;
	border:0.5rem solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 2.5rem;
	transition: transform .4s;
	font-size:20px;
}
.button:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
.content h1{
	color:white;
	margin: 2rem 0rem 2rem;
	font-size: 7.5rem;
}
.content h3{
	color: white;
	font-size: 2.5rem;
	margin-bottom: 5rem;
}
.content h4{
	color: #fcfc;
	letter-spacing:0.2rem;
	font-size: 2.5rem;
}
.newslatter form{
	/* width: 45px; */
	width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 2.4rem 13rem 1.4rem 1.5rem;
	border:0.2rem solid #f9004d;
	outline: none;
	border-radius: 3rem;
	font-size:20px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding:1rem 3rem;
	border-radius: 3rem;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 0.5rem #000, 0px 0px 1.5rem #858585;
	top: 10px;
	right: 8px;
	font-size:15px;
	font-weight:bold;
}

#about{
	width: 100%;
	padding: 10rem 0px;
	background-color: #191919;
}
#about img{
	height: auto;
	width: 43rem;
}
.about-text{
	width: 55rem;
}
.main{
	width: 113rem;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 7.5rem;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 0.2rem;
	font-size: 3rem;
	margin-bottom: 2.5rem;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 0.1rem;
	line-height: 2.8rem;
	font-size: 2rem;
	margin-bottom: 4.5rem;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border:0.2rem solid transparent;
	font-weight: bold;
	padding: 1.3rem 3rem;
	border-radius: 2.5rem;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border:0.2rem solid #f9004d;
	cursor: pointer;
}

.ritu-image{
	border-radius:5rem;
	border:0.5rem solid #f9004d; 
	
}



.service{
	background: #101010;
	width: 100%;
	padding: 10rem 0rem;
}
.title h2{
	color: white;
	font-size: 7.5rem;
	width: 113rem;
	margin: 3rem auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 45rem;
}
  .card1{
	height: 40rem;
	width: 40rem;
	padding: 2remx 3.5rem;
	background: #191919;
	border-radius: 2rem;
	margin: 1.5rem;
	position: relative;
	overflow: hidden;
	text-align: center;
}  
#skill{
	height: 40rem;
	width: 40rem;
	padding: 2remx 3.5rem;
	background: #191919;
	border-radius: 2rem;
	margin: 1.5rem;
	position: relative;
	overflow: hidden;
	text-align: center;

}
#skill1 {
	height: 40rem;
	width: 40rem;
	padding: 2remx 3.5rem;
	background: #191919;
	border-radius: 2rem;
	margin: 1.5rem;
	position: relative;
	overflow: hidden;
	text-align: center;


}


#skill i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}

#skill1 i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
#skill.button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
} 

/* .card1 .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}  */
#contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
#contact-me .resume{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
#contact-me .resume:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;

}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;

}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Hurricane';
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;

	font-size: 14px;
}

.container{
	width: 100%;
	
   
	margin: 0 auto;
  }
  @keyframes load{
	from {
	  width: 0%
	}
  }
  @-webkit-keyframes load{
	from {
	  width: 0%
	}
  }
  @-moz-keyframes load{
	from {
	  width: 0%
	}
  }
  @-o-keyframes load{
	from {
	  width: 0%
	}
  }


 .bar{
	background-color: #EEE;
	padding: 2px;
	border-radius: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-align:left;
	align-items:horizontal;
  }
  .bar::before{
	content:  attr(data-skill);
	background-color:#f9004d;
	display: inline-block;
	padding: 5px 0 5px 10px;
	border-radius: inherit;
	animation: load 2s 0s;
	-webkit-animation: load 2s 0s;
	-moz-animation: load 2s 0s;
	-o-animation: load 2s 0s;
  }
  
  .bar.front::before{
	background-color:#f9004d;
  }
  .bar.back::before{
	background-color: #f9004d;
  }
  
  .bar.learning::before{
	width: calc(50% - 8px);
  }
  .bar.basic::before{
	width: calc(40% - 10px);
  }
  .bar.intermediate::before{
	width: calc(70% - 10px);
  }
  .bar.advanced::before{
	width: calc(90% - 10px);
  }
  .bar.expert::before{
	width: calc(100% - 10px);
  }
  .resume{
	font-size:20px;
  } 


 .pro h2{
	color:white;
	font-weight:bold;
	font-size: 7.5rem;
	width: 113rem;
	margin: 3rem auto;
	text-align: center;
} 



/* work */



 #work{
	background-color: #444343;
 }
.work{
	font-size:70px;
	text-align:center;
	background-color: #858585;
	color:#fff;
	font-weight:bold;
}
.read-more{
	font-size: 20px;
}

 article {
	--img-scale: 1.001;
	--title-color:#28666e;
	--link-icon-translate: -20px;
	--link-icon-opacity: 0;
	position: relative;
	border-radius: 16px;
	box-shadow: none;
	background: #fff;
	transform-origin: center;
	transition: all 0.4s ease-in-out;
	overflow:hidden;

  }

  article-wrapper{
	padding-top:50px;
	height:50px;
	
  }
  article a::after {
	position: absolute;
	inset-block: 0;
	inset-inline: 0;
	cursor: pointer;
	content: "";
  }
  article h2 {
	margin: 0 0 18px 0;
	font-family: "Bebas Neue", cursive;
	font-size: 1.9rem;
	letter-spacing: 0.06em;
	color: var(--title-color);
	transition: color 0.3s ease-out;
  }
  
  
  figure {
	margin: 0;
	padding: 0;
	aspect-ratio: 16 / 9;
	overflow: hidden;

	
  }
  
  article img {
	max-width: 100%;
	transform-origin: center;
	transform: scale(var(--img-scale));
	transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
	padding: 24px;
	padding-top: 30px;
	/* height:50px;
	weigth:50px; */

	
  }
  
  article a {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color:rgb(29, 26, 26);
  }
  
  article a:focus {
	outline: 1px dotted #28666e;
  }
  
   article a .icon {
	min-width: 24px;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	transform: translateX(var(--link-icon-translate));
	opacity: var(--link-icon-opacity);
	transition: all 0.3s;
  } 


  article:has(:hover, :focus) {
	--img-scale: 1.1;
	--title-color: #28666e;
	--link-icon-translate: 0;
	--link-icon-opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	border-color: #191919;
  }
  .articles {
	display: grid;
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 24px;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 24px;
	padding-top:50px;
	padding-bottom:50px;


  }
  
  @media screen and (max-width: 960px) {
	article {
	  container: card/inline-size;
	}
	.article-body p {
	  display: none;
	}
  }
  
  @container card (min-width: 380px) {
	.article-wrapper {
	  display: grid;
	  grid-template-columns: 100px 1fr;
	  gap: 16px;
	}
	.article-body {
	  padding-left: 0;
	  height:50px;
	  weigth:50px;
	}
	figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	figure img {
	  height: 100%;
	  aspect-ratio: 1;
	  object-fit: cover;
	}
  }
  
   .sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }  
  .menu-icon{
	width:28px;
	margin-left: 10px;
  } 

  /* work -2 */

  /* .container {
	max-width: 1400px;
	width: 100%;
	padding: 60px 0;
  }
  .slide-container {
	margin: 0 30px;
	overflow: hidden;
  }
  .card {
	background: #fff;
	border-radius: 8px;
  }
  .card .image-box {
	height: 300px;
  }
  .card .image-box img {
	width: 100%;
	height: 100%;
	border-radius: 8px 8px 0 0;
  }
  .card .profile-details {
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 15px;
  }
  .card .profile-details img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
  }
  .profile-details .name {
	font-size: 15px;
	font-weight: 500;
  }
  .profile-details .job {
	font-size: 12px;
	font-weight: 500;
	color: #4d4d4d;
  }
  
  .swiper-navBtn {
	color: #000;
	height: 50px;
	width: 50px;
	transform: translateY(-40%);
	background: #fff;
	border-radius: 50%;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
	font-size: 24px;
  }
  
  .swiper-pagination-bullet {
	background-color: #333;
  }
   */
  /* @media screen and (max-width: 768px) {
	.swiper-navBtn {
	  display: none;
	}
  }
   */
  /* work-2V */
  /* .wrapper{
	display:flex;
	width:100%;
	padding:10rem 0;
	justify-content:space-around;
	background-color: #101010;
  }
  .curd{
	width:300px;
	height:360px;
	padding: 2rem, 0rem;
	position:relative;
	display:flex;
	align-item:flex-end;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	transition:0.5s ease-in-out;
  }
.curd:hover{
	transform:translateY(20px);
}
.curd:before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: liner-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
	z-index: 2;
	transition: 0.5s all;
	opacity:1;
}
.curd:hover:before{
	opacity: 1;
}
.curd img{
	width:100%;
	height:100%;
	object-fit: cover;
	position :absolute;
	top:0;
	left:0;
}
  .curd .info{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}  
.curd:hover .info{
	opacity:1;
	transform: translateY(0px);
}
  .curd .info h1{
	margin:0;
	
  }
  .curd .info p{
letter-spacing: 1px;
font-size:15px;
margin-top: 8px;
margin-bottom:20px;
  }
  .curd .info .btn {
	text-decoration: none;
	padding: 0.5rem 1rem;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	cursur: pointer;
	transition: 0.4s ease-in-out;
  } */


 

@media(max-width:1028px) {
	.ritu-image{
		position:static;
		transform: rotate(0);

	}
	
	@media(max-width:998px){
		html{
			font-size: 65%;
		}
		
	}
	
	@media(max-width:768rem){
		html{
			font-size: 45%;
		}
	}

}
